{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1>Welcome to my Trading Application!</h1>
  <p>--Analyze, predict and learn using technical indicators--</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>RSI Analysis</h2>
      <p>Perform advanced RSI backtesting on your selected stocks. Just input
        the
        stocks you want to analyze and let the system do the rest.</p>
      <a class="btn btn-primary" href="/RSI2" role="button">Go to RSI Strategy</a>
      <a class="btn btn-outline-primary" href="/RSI2_complex" role="button">Go
        to RSI
        Strategy (custom parameters)</a>
    </div>
    <div class="col-lg-6">
      <h2>SMA Analysis</h2>
      <p>Simple Moving Average (SMA) is a great tool to identify the direction
        of a stock's price trend. Get started with our SMA analysis.</p>
      <a class="btn btn-primary" href="/SMA" role="button">Go to SMA Analysis</a>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Market Overview</h2>
      <div class="plot-container">
        <div class="plot-item">
          {{ market_plot|safe }}
        </div>
      </div>

    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <h1>About the platform</h2>
          <p>I created this platform in the summer of 2023 to delevop my
            computer
            science
            and trading skills. My goal is to use simple technical indicators
            availible to
            all investors to better understand public markets.</p>
          <p>All code to create these algorithms and this website can be found
            on
            my
            github:
            <a href="https://github.com/vincerediem">https://github.com/vincerediem</a>.
          </p>
        </div>
        <div class="col-lg-3">
          <h2>My Contact Info</h2>
          <p>kopenshaw2024@gmail.com<br>
            <a href="https://www.linkedin.com/in/keith-openshaw/">LinkedIn</a><br>
            (949)-633-3389</p>
        </div>
      </div>

      {% endblock %}
